*{
  margin: 0;
  transition: all .3s ease;
}

.body{
  font-family: 'Montserrat';
  margin-top: 140px;
  background-color: #F8F8F8;
}

/* NAVBAR */
.nutri{
  font-family: "Clash Display";
  font-weight: bold;
  font-size: 38px !important;
}

.nutri:hover{
  transform: scale(1.1);
  filter: drop-shadow(0px 7px 10px #0000003b)
}

.logo{
  position: absolute;
  filter: drop-shadow(0px 7px 10px #0000005c);
  top: -10px; left: 40px;
  z-index: 100;
}

.navbar{
  background-color: #7DC383 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.txt{
  font-size: 24px !important;
  font-style: italic;
}

.txt:hover{
  transform: scale(1.2);
  filter: drop-shadow(0px 7px 10px #0000009a);
}

/* FIN NAVBAR */


.content {
  justify-content: space-around;
  display: flex;
  margin-top: 11vh;
}

.titreequipe{
  padding-right: 4%;
  padding-left: 4%;
  margin: 0%;
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-family: 'Courgette'
}

.titrehistoire{
  padding-right: 3%;
  margin-top: 4%;
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-family: 'Courgette';
}

.texthistoire{
  padding-right: 4%;
  padding-left: 4%;
  color: black;
  font-size: 17px;
  font-weight: 400px;
  text-align: start;
  font-family: 'Montserrat';
}

.histoire{
  padding-right: 3%;
  background-color: rgba(217, 217, 217, 0.12);
  box-shadow: 9px -6px 4px 0px rgba(0, 0, 0, 0.10);
  width: 60%;
  height: 80vh;
  border-radius: 8px;
}

.equipe {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(217, 217, 217, 0.12);;
  width: 29%;
  height: 80vh;
  box-shadow: 9px -6px 4px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  border-radius: 8px;
}

.equipier {
  margin-top: -40px;
  width: 40%;
  height: 10vh;
  text-align: center;
  font-size: small;
  font-family: 'Montserrat';
}

.profil {
  width: 40%;
}

.vid {
  margin-top: 3%;
  height: 40%;
  justify-content: center;
  display: flex;
}

.videohistoire {
  box-shadow: 9px -6px 4px 0px rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  width: 65vw;
  margin-bottom: 100px;
}

/* FOOTER */

.footer{
  background-color: #7DC383;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  font-size: 12px;
}

.fb:hover, .insta:hover, .pint:hover{
  transform: scale(1.5);
}

.noir{
color: black ;
}

/* FIN FOOTER */